body {
    font-family: Arial;
	font-size:13px;
    color:    #7b7d7f;
	overflow:hidden;
}
em{
	font-size:18px;
	font-style:italic;
}
.textb {
	width:165px;
}

a {color: #333;text-decoration: none;}
a:hover{text-shadow: 1px 2px 3px #ccc;}
#wrapper {
}
#wrapper div {
    /*padding: 5px;*/
}
#footer{
    position:absolute;bottom:0px;right:0;
    color:#fff;
}
div#login_items{
	background: transparent url('images/bg/fade2.png') no-repeat 0 0;
	width: 404px;
	height: 380px;
	padding-top: 121px;
	padding-left: 70px;
}
#messages div{
	position:absolute;
	padding:0;
}

#main, #progress, #message, #invalid_login {
    /*display: none;*/
}
ul{
	list-style:none;
}
#wrapper div#main{
	padding:0;
    overflow: hidden; 
    background-color: white;
    
}
#main ul.inner_content{
	/*position:absolute;top:0;right:0;*/
	padding:0;
	margin:0
}

#main ul.sections{
	/*position: absolute;
    bottom: 25px;
    right: 0px;*/
	position: absolute;
    right: 0px;
    top: 136px;
	padding:0;
    margin:0
}
#main ul.sections li.inner,
#main ul.sections li.timer,
#main ul.sections li.pull_tab {
	height: 340px; 
	float: left;
	position:relative;
}
#main ul.sections li.inner{
	width: 500px;
	
}
#main ul.sections li.timer{
    background: transparent url('images/timer_bg.png') no-repeat -7px 1px;
    width: 110px;
    z-index:2;
    top: 18px;
}
    #main ul.sections li.timer span.timer_lbl {
		font-size: 12px;
		margin-top: 20px;
		display: block;
		text-align: right;
		margin-right: 5px;
		color: #fff;
    }
	#main ul.sections li.timer div.today{
		
		position: absolute;
        text-align: center;
        padding: 2px 10px;
        font-size: 12px;
        background-color: #797b7e;
        color:#fff;
        bottom: 33px;
        left: 28%;
		
	}
#main ul.sections li.pull_tab{
    background: transparent url('images/pull_tab_close.png') no-repeat 1px 0px;
    cursor: pointer;
    width: 31px;
	top: 16px;	
}
    #main ul.sections li.inner li{
    	width: 500px;
		float: left;
    }
	.alert_message{
		width: 245px;
		height: 99px;
		border: 1px solid #666;
		position: absolute;
		top: 25px;
		left: 165px;
		padding: 5px;
		background-color: white;
	}
	   .alert_message p{
	   	   text-align: center;
           margin-top: 25px;
		   font-size:16px;
	   }
	.close_message{
		position: absolute;
        top: 4px;
        left: 240px;
	}
	.settings_menu_on{
		z-index: 1;
		top: 6px;
		position: relative;
		background-color: white;
		padding: 0 5px;
		border: solid 1px #CCC;
		left: 5px;
		width: 111px;
	}
		#main ul.sections li.inner div.details ul.detail_options .settings_menu a{
			display:block;
			line-height: 20px;
		}
		.settings_menu em{
            font-size: 14px;
        }
	
	#main ul.sections li.inner li.drop_tab{
		/*height:25px;*/
		height: 75px;
		position: relative;
		top: 0px;
	}
	#main ul.sections li.inner li.open_drop_tab{
        top: -50px;
    }
	#main ul.sections li.inner div.details{
		height:40px;
		width: 489px; 
		background-color:#fff;
		border: 1px solid #666;
		padding: 5px;
	}  
	   #main ul.sections li.inner div.details ul.detail_options{
	       width: 380px;
			position: absolute;
			right: 0;
			top: 30px;
			height: 40px;
			padding: 0;
	   }
	       #main ul.sections li.inner div.details ul.detail_options li{
	       	    width: 126px;
                float: left;
	       }
		   #main ul.sections li.inner div.details ul.detail_options a{
              line-height: 40px;
           }
		   #main ul.sections li.inner div.details ul.detail_options b{
		   	  width: 40px;
		      height: 40px;
			  display: block;
			  float: left;
		   }
			   #main ul.sections li.inner div.details ul.detail_options li.bluetooth_status b{
			   	  background: transparent url('images/bluetooth_on.png') no-repeat 0px 0px;
			   	
			   }
			   #main ul.sections li.inner div.details ul.detail_options li.account_sync b{
			   	  background: transparent url('images/sync.png') no-repeat 0px 0px;
	            
	           }
			   #main ul.sections li.inner div.details ul.detail_options li.settings b{
			   	  background: transparent url('images/gear.png') no-repeat 0px 0px;
	            
	           }
	
	#main ul.sections li.inner li.chart{
		height: 340px;
		background: transparent url('images/inner_bg.png') no-repeat 0px 0px;
		margin-top: 25px;
		position: absolute;
	}
	   div.lbl_last7days{
	        position: absolute;
			text-align: center;
			padding: 2px 10px;
			font-size: 12px;
			background-color: #797b7e;
			color:#fff;
			bottom: 39px;
			left: 50%;
	   }
		#main ul.sections li.inner li.chart ul.chart_menu{
	        position: absolute;
			top: 94px;
			left: 1px;
			padding: 0;
	    }
			#main ul.sections li.inner li.chart ul.chart_menu li{
			    font-size: 18px;
				height: 20px;
				width: 140px;
				float: none;
				padding: 10px;
				margin-left: 10px;
				padding-bottom: 5px;
				padding-left: 8px;
			}
			#main ul.sections li.inner li.chart ul.chart_menu li a{
				color:#7b7d7f;
			}
			#main ul.sections li.inner li.chart ul.chart_menu li.selected{
	             background: transparent url('images/selected_chart.png') no-repeat 0px 8px;  
            }
			#main ul.sections li.inner li.chart ul.chart_menu li.selected a{
                 color: white; 
			}
	   #main ul.sections li.inner li.chart ul.xaxis,
	   #main ul.sections li.inner li.chart ul.actual_charts{
            position: absolute;
			bottom: 64px;
            left: 142px;
       }
	       #main ul.sections li.inner li.chart ul.xaxis li,
		   #main ul.sections li.inner li.chart ul.actual_charts li ul li{
	           float: left;
			   display: inline;
			   width: 22px;
			   margin-right:16px;
			   text-align:center;
	       }
	   #main ul.sections li.inner li.chart ul.actual_charts{
	       padding:0px;
		   bottom:87px;	
		   width: 355px;
	   }
	       #main ul.sections li.inner li.chart ul.actual_charts li{
	       	   width: 355px;
               display:none;
           }
		   #main ul.sections li.inner li.chart ul.actual_charts li.selected{
               display:block;
           }
		       #main ul.sections li.inner li.chart ul.actual_charts li div{
		           position: absolute;
			       width: 145px;
				   height:15px;
			       text-align: right;
				   top: -65px;
				   left: -4px;
				   overflow:hidden;
		       }
				   #main ul.sections li.inner li.chart ul.actual_charts li div.daily_average{
				      left: 150px;
				   }
		       /*chart bars*/
			  #main ul.sections li.inner li.chart ul.actual_charts li ul.bars{
			  	    height: 170px;
					width: 266px;
					display: block;
					/*overflow: hidden;*/
			  }
			   #main ul.sections li.inner li.chart ul.actual_charts li ul.bars li{
		           position: relative;
				   height:1px;
				   visibility: hidden;
		       }
			   #main ul.sections li.inner li.chart ul.actual_charts li ul li.bar1{
			      background-color:#add143;
			   }
			   #main ul.sections li.inner li.chart ul.actual_charts li ul li.bar2{
	              background-color:#ffe200;
	           }
			   #main ul.sections li.inner li.chart ul.actual_charts li ul li.bar3{
	              background-color:#f57f20;
	           }
			   #main ul.sections li.inner li.chart ul.actual_charts li ul li.bar4{
	              background-color:#ed2c92;
	           }
			   #main ul.sections li.inner li.chart ul.actual_charts li ul li.bar5{
	              background-color:#7f51a1;
	           }
			   #main ul.sections li.inner li.chart ul.actual_charts li ul li.bar6{
	              background-color:#0baad8;
	           }
			   #main ul.sections li.inner li.chart ul.actual_charts li ul li.bar7{
	              background-color:#5bc099;
	           }
	   
	   #main ul.sections li.inner li.chart ul.actual_charts li ul.yaxis{
            position: absolute;
			right: -14px;
			padding: 0;
			top: -28px;
       }
		   #main ul.sections li.inner li.chart ul.actual_charts li ul.yaxis ul{
	            padding: 0;
	       }
           #main ul.sections li.inner li.chart ul.actual_charts li ul.yaxis li{
               float: none;
               display: none;
               width: auto;
			   padding: 0;
           }
		      #main ul.sections li.inner li.chart ul.actual_charts li ul.yaxis li{
			  	display: block;
				height: 28px;
				text-align: right;
			  }
	#main ul.sections li.inner div.tab_link{
		background: transparent url('images/drop_tab_open.png') no-repeat 0px 0px;
		cursor: pointer;
	    height: 24px;
		padding: 0;
	}
	#main ul.sections li.inner div.close_tab_link{
        background: transparent url('images/drop_tab_close.png') no-repeat 0px 3px;
		cursor: pointer;
    }
	.pull_tab:hover, .tab_link:hover{
		opacity:0.8;
	}
	#main ul.sections li.close_tab{
        background: transparent url('images/pull_tab_open.png') no-repeat 1px 0px;
    }



.inputlbl {
    width: 82px;
    display: block;
    float: left;
    text-align: left;
}
